<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>React App Demo</title>
        <link rel="stylesheet" href="/css/react.css">
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script> 
        
        <!-- Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    <style>
        .title { 
            color: red; 
        }
      
        .li {
          list-style: none; 
        }
      
      </style>
    <body>
       <h1 className="title"> <a href="/">CINEMATHEQUE</a></h1>
       <hr>
        <h3>What is Cinematheque?</h3>
        <p> A small film library <br> 
            dedicated to avant-garde or classic cinema.<br> 
            Most of Cinematheque films are <br>
            innovative, eccentric, unique and <br> 
            sometimes frightening.</p>
    </body>
</html>