<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="=UTF-8">
        <title>Cinematheque Home page</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
       <h2> <a href="/">CINEMATHEQUE</a></h2>
       <hr>
       <p> The movie <%= name: req.query.name %> is deleted!</p>  
    </body>
    
</html>